.calendar-container {
    background-color: #fff;
}

.main-container {
    background-color: white;
    margin: auto;
    padding: 25px;
}

.day-header {
    border-bottom: 0.5px solid rgb(154, 154, 154);
    text-align: center;
}

.month-title {
    text-transform: capitalize;
    text-align: center;
    font-weight: 800;
    color: #244B6D;
}

.nav-button {
    float: right;
}

h1 {
    display: inline;
    width: 170px;
}